* {
  font-family: 'Cinzel', serif;
}
body {
  width: 1300px;
  margin: auto;
  position: relative;

}
.gallery img {
  width: 10%;
  height: auto;
  float: left;
  margin-left: 12%;
  margin-top: 5%;

}
#title {
  position: absolute;
  font-size: 200px;
  top: -20%;
}
#title:first-letter {
  font-size: 400px;
  color: #a5af7d;
}
.links {
  position: absolute;
  right: 0;
  top: 5%;
  width: 20%;
}
.links a{
  margin-right: 5%;
  text-decoration: none;
  color: black;
}
.who {
  float: left;
  width: 48%;
}
.gallery {
  float: right;
  width: 48%;
  position: relative;
}

.items:nth-child(6), .items:nth-child(10){
  clear: left;
}
.nav img{
  width: 7%;
  float: left;
  margin-left: 10%;
}
.nav {
  float: left;
  clear: right;
}
.moveButton {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}
button {
  padding: 10px;
  background-color: #a5af7d;
  border-style: none;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  margin-bottom: 10px;
}
span {
  color: #a5af7d;
  font-weight: bold;
}
#fairy {
  position: absolute;
  width: 5%;
  right: 75px;
  top: 310px;
}
